#dynamic-dialog{
	inset: 0;
	margin: auto;
	background-color: var(--bright-clr);
	border: none;
	border-radius: 6px;
	padding: 1em;
}

#dynamic-dialog::backdrop{
	background-color: rgba(104, 107, 109, 0.38);
}

#dynamic-dialog > form{
	display: grid;
	gap: 6px;
}

#dynamic-dialog input, #dynamic-dialog textarea{
	background-color: var(--bright-highlight-clr);
	border-style: none;
	border: 2px solid var(--main-shadow-clr);
	padding: 6px;
	border-radius: 6px;
}

