@font-face {
	font-family: "Roboto";
	src: url(../assets/Roboto-VariableFont_wdth,wght.ttf) format('truetype');
}

:root{
	--main-clr: #2b3340;
	--main-highlight-clr: #3f5671;
	--main-shadow-clr: #161f2b;
	--sec-clr: rgb(68, 49, 74);
	--sec-highlight-clr: rgb(110, 82, 107);
	--sec-shadow-clr: rgb(35, 27, 41);
	--bright-clr: rgb(177, 221, 237);
	--bright-highlight-clr: rgb(179, 255, 252);

	--main-font-clr: beige;

	--main-font: "Roboto";
}

*{
	font-family: var(--main-font), sans-serif;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--main-clr);
	display: grid;
	grid-template-rows: 90px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas:
	"header header"
	"sidebar projects";
	align-items: stretch;
	height: 100vh;
}

.header{
	grid-area: header;
	color: beige;
	background-color: var(--main-shadow-clr);
	padding: 1em;
	text-align: center;
}